{% extends "::layoutLogin.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block bodyClasses %}login{% endblock %}

{% block content %}
    <div class="uk-contrast">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <a href="{{ path('homepage') }}" class="uk-button uk-button-success">Anmelden</a>
    </div>
{% endblock  %}
