{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
{% endblock %}

{% block body %}
    <nav class="uk-navbar">
        <a href="{{ path('homepage') }}" class="uk-navbar-brand">Ultimate Checklist</a>
        <ul class="uk-navbar-nav uk-navbar-flip">
            <li><a href="{{ path('checklist_index') }}"><i class="uk-icon-check-circle-o"></i></a></li>
            <li><a href="{{ path('fos_user_security_logout') }}" class="uk-text-danger"><i class="uk-icon-power-off"></i></a></li>
        </ul>
        <div class="uk-navbar-content uk-navbar-flip">
            Hi {{ app.user }}!
        </div>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}