{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/uikit/css/components/tooltip.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/uikit/css/components/autocomplete.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/uikit/css/components/datepicker.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/uikit/css/components/progress.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
{% endblock %}

{% block body %}
    <nav class="uk-navbar hidden-print">
        <ul class="uk-navbar-nav">
            <li>
                <a href="{{ path('homepage') }}" data-uk-tooltip title="Dashboard">
                    <i class="uk-icon-dashboard"></i>
                </a>
            </li>
            <li>
                <a href="{{ path('checklist_index') }}" data-uk-tooltip title="Checklisten">
                    <i class="uk-icon-list"></i>
                </a>
            </li>
            <li>
                <a href="{{ path('task_index') }}" data-uk-tooltip title="Aufgaben">
                    <i class="uk-icon-check-square-o"></i>
                </a>
            </li>
            <li>
                <a href="{{ path('checkinstance_index') }}" data-uk-tooltip title="Historie">
                    <i class="uk-icon-history"></i>
                </a>
            </li>
            <li>
                <a href="{{ path('user_index') }}" data-uk-tooltip title="Benutzer">
                    <i class="uk-icon-users"></i>
                </a>
            </li>
        </ul>
        <ul class="uk-navbar-nav uk-navbar-flip">
            <li>
                <a href="{{ path('fos_user_security_logout') }}"
                   id="logout-button"
                   data-uk-tooltip title="Abmelden">
                    <i class="uk-icon-power-off"></i>
                </a>
            </li>
        </ul>
        <div class="uk-navbar-content uk-navbar-flip uk-hidden-small">
            Hi {{ app.user|capitalize }}!
            <span class="uk-badge uk-badge-success uk-badge-notification uk-margin-left"
                  data-uk-tooltip title="Punkte">
                {{ app.user|points }}
            </span>
        </div>
        <div class="uk-navbar-content uk-navbar-center uk-hidden-small">
            Crea Checklisten
        </div>
    </nav>
    <div id="content-wrapper">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}