{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="uk-clearfix">
        {{ checkInstance.title }}
        <small class="uk-text-muted uk-float-right">{{ checkInstance.checklist.name }}</small>
    </h1>

    <a href="{{ path('checkinstance_show', {'id': checkInstance.id}) }}"
       class="uk-button uk-button-primary uk-float-right">
        <i class="uk-icon-eye"></i> Übersicht
    </a>

    <div class="uk-button-dropdown uk-float-right uk-margin-right" data-uk-dropdown="{mode:'click'}">
        <button class="uk-button uk-button-primary">Alle Aufgaben <i class="uk-icon-caret-down"></i></button>
        <div class="uk-dropdown">
            <ul class="uk-nav uk-nav-dropdown">
                {% for t in checkInstance.checklist.tasks %}
                    <li{% if t.id == task.id %} class="uk-active"{% endif %}>
                        <a href="{{ path('check_task', {'checkInstance': checkInstance.id, 'task': t.id}) }}"
                           data-animation="nextTask">
                            {{ t.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="uk-text-muted copy-link-input">
        <i class="uk-icon-external-link"></i>
        <input type="text" value="{{ url('check_task', {'checkInstance': checkInstance.id}) }}" onclick="this.select();"/>
    </div>

    <div id="task">
        <h2>
            <span style="width: 40px; display: inline-block;">
                <a href="{{ path('check_task_check', {'checkInstance': checkInstance.id, 'task': task.id}) }}"
                   class="uk-text-success check-task no-smoothState">
                    <i class="uk-icon-{{ check and check.checked ? 'check-' : '' }}square-o uk-icon-small"></i>
                </a>
            </span>
            {{ task.name }}
        </h2>

        <small class="uk-text-muted uk-animation-fade {% if not check %} uk-hidden{% endif %}" id="check-meta">
            letzte Änderung am <span class="date">{% if check %}{{ check.date|date('d.m.Y H:i') }}{% endif %}</span>
            durch <span class="user">{% if check %}{{ check.user.username }}{% endif %}</span>
        </small>

        <p class="uk-text-large">
            {{ task.description }}
        </p>

        {% if prevTask %}
            <a href="{{ path('check_task', {'checkInstance': checkInstance.id, 'task': prevTask.id}) }}"
               class="uk-button uk-button-primary"
               data-animation="prevTask">
                <i class="uk-icon-angle-left"></i> zurück
            </a>
        {% endif %}

        {% if nextTask %}
            <a href="{{ path('check_task', {'checkInstance': checkInstance.id, 'task': nextTask.id}) }}"
               class="uk-button uk-button-primary uk-float-right"
               data-animation="nextTask">
                weiter <i class="uk-icon-angle-right"></i>
            </a>
        {% else %}
            <a href="{{ path('checkinstance_show', {'id': checkInstance.id}) }}"
               class="uk-button uk-button-success uk-float-right">
                <i class="uk-icon-check"></i> Fertig!
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/smoothstate/jquery.smoothState.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/transitions.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/checkTask.js') }}"></script>
{% endblock %}