{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="uk-clearfix">Wähle eine Checkliste:</h1>

    {% for category in categories if category.checklists|length %}
        <h2>{{ category.name }}</h2>
        <div class="uk-grid" data-uk-grid-match="{target:'.uk-button'}" data-uk-grid-margin>
            {% for checklist in category.checklists if checklist.tasks|length %}
                <div class="uk-width-medium-1-3">
                    <a class="uk-button uk-button-primary uk-button-large uk-width-1-1"
                       data-uk-tooltip title="<b>{{ checklist.name }}</b><br><br>{{ checklist.description }}"
                       href="{{ path('check_new', {'checklist': checklist.id}) }}">
                        {{ checklist.name }}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <h2>Ohne Kategorie</h2>
    <div class="uk-grid" data-uk-grid-match="{target:'.uk-button'}" data-uk-grid-margin>
        {% for checklistWithoutCategory in checklistsWithoutCategory if checklistWithoutCategory.tasks|length %}
            <div class="uk-width-medium-1-3">
                <a class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-text-truncate"
                   data-uk-tooltip title="<b>{{ checklistWithoutCategory.name }}</b><br><br>{{ checklistWithoutCategory.description }}"
                   href="{{ path('check_new', {'checklist': checklistWithoutCategory.id}) }}">
                    {{ checklistWithoutCategory.name }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}