{% extends 'layout.html.twig' %}

{% block content %}
    <a href="{{ path('check') }}" class="uk-button uk-button-success uk-button-large uk-display-block">
        <i class="uk-icon-check"></i>
        {{ 'Start new check'|trans }}
    </a>

    <h2>Dir zugewiesene Checks</h2>
    <div class="uk-overflow-container">
        <table class="uk-table">
            <tr>
                <th>Titel</th>
                <th>Checkliste</th>
                <th>Domain</th>
                <th>Kunde</th>
                <th>Ersteller</th>
                <th>erstellt am</th>
                <th>Deadline</th>
                <th>Info</th>
                <th></th>
            </tr>
            {% for checkInstance in app.user.assignedCheckInstances %}
                <tr>
                    <td class="uk-padding-remove" colspan="9">
                        <div class="uk-progress uk-progress-striped uk-progress-mini uk-progress-striped uk-margin-remove{% if (checkInstance|checkProgress == 100) %} uk-progress-success{% endif %}">
                            <div class="uk-progress-bar" style="width: {{ checkInstance|checkProgress }}%;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ checkInstance.title }}</td>
                    <td>{{ checkInstance.checklist.name }}</td>
                    <td>
                        {% if checkInstance.domain %}
                            <a href="{{ checkInstance.domain }}" target="_blank">{{ checkInstance.domain }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ checkInstance.customer|default('-') }}</td>
                    <td>{{ checkInstance.user.username }}</td>
                    <td>
                        {{ checkInstance.date|date('d.m.Y') }}<br>
                        {{ checkInstance.date|date('H:i') }} Uhr
                    </td>
                    <td>
                        {% if checkInstance.deadline %}
                            {{ checkInstance.deadline|date('d.m.Y') }}<br>
                            {{ checkInstance.deadline|date('H:i') }} Uhr
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if checkInstance.info %}
                            <a href="#" class="uk-button" data-uk-tooltip title="{{ checkInstance.info }}">
                                <i class="uk-icon-info"></i>
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="uk-text-right">
                        <a href="{{ path('checkinstance_show', { 'id': checkInstance.id }) }}" class="uk-button uk-button-primary">
                            <i class="uk-icon-eye"></i>
                        </a>
                        <a href="{{ path('checkinstance_edit', { 'id': checkInstance.id }) }}" class="uk-button uk-button-primary">
                            <i class="uk-icon-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <h2>Von dir angelegte Checks</h2>
    <div class="uk-overflow-container">
        <table class="uk-table">
            <tr>
                <th>Titel</th>
                <th>Checkliste</th>
                <th>Domain</th>
                <th>Kunde</th>
                <th>erstellt am</th>
                <th>zuständig</th>
                <th>Deadline</th>
                <th>Info</th>
                <th></th>
            </tr>
            {% for checkInstance in app.user.checkInstances %}
                <tr>
                    <td class="uk-padding-remove" colspan="9">
                        <div class="uk-progress uk-progress-striped uk-progress-striped uk-progress-mini uk-margin-remove{% if (checkInstance|checkProgress == 100) %} uk-progress-success{% endif %}">
                            <div class="uk-progress-bar" style="width: {{ checkInstance|checkProgress }}%;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ checkInstance.title }}</td>
                    <td>{{ checkInstance.checklist.name }}</td>
                    <td>
                        {% if checkInstance.domain %}
                            <a href="{{ checkInstance.domain }}" target="_blank">{{ checkInstance.domain }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ checkInstance.customer|default('-') }}</td>
                    <td>
                        {{ checkInstance.date|date('d.m.Y') }}<br>
                        {{ checkInstance.date|date('H:i') }} Uhr
                    </td>
                    <td>{{ checkInstance.assignedUser.username|default('-') }}</td>
                    <td>
                        {% if checkInstance.deadline %}
                            {{ checkInstance.deadline|date('d.m.Y') }}<br>
                            {{ checkInstance.deadline|date('H:i') }} Uhr
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if checkInstance.info %}
                            <a href="#" class="uk-button" data-uk-tooltip title="{{ checkInstance.info }}">
                                <i class="uk-icon-info"></i>
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="uk-text-right">
                        <a href="{{ path('checkinstance_show', { 'id': checkInstance.id }) }}" class="uk-button uk-button-primary">
                            <i class="uk-icon-eye"></i>
                        </a>
                        <a href="{{ path('checkinstance_edit', { 'id': checkInstance.id }) }}" class="uk-button uk-button-primary">
                            <i class="uk-icon-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
