{% extends 'layout.html.twig' %}

{% block content %}
    <h1>
        Checkliste <small>{{ checklist.name }}</small>
        <a href="{{ path('checklist_edit', { 'id': checklist.id }) }}" class="uk-button uk-button-primary">
            <i class="uk-icon-edit"></i>
        </a>
        <a href="{{ path('checklist_index') }}" class="uk-button uk-button-primary uk-float-right">
            <i class="uk-icon-list"></i>
            Liste
        </a>
    </h1>

    <h2>Aufgaben</h2>
    <table class="uk-table uk-table-striped">
        <tr>
            <th>Name</th>
            <th>Beschreibung</th>
            <th>Kategorie</th>
        </tr>
        {% for task in checklist.tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.taskCategory }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Durchgeführte Checks</h2>
    <table class="uk-table uk-table-striped">
        <tr>
            <th>Name</th>
            <th>Benutzer</th>
            <th>Datum</th>
            <th></th>
        </tr>
        {% for checkInstance in checklist.checkInstances %}
            <tr>
                <td>{{ checkInstance.title }}</td>
                <td>{{ checkInstance.user.username }}</td>
                <td>{{ checkInstance.date|date('d.m.Y H:i') }}</td>
                <td class="uk-text-right">
                    <a href="{{ path('check_task', {'checkInstance': checkInstance.id}) }}" class="uk-button uk-button-primary">
                        <i class="uk-icon-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
