{% extends 'layout.html.twig' %}

{% block content %}
    <h1>
        Durchgeführte Checks
        <a href="{{ path('check') }}" class="uk-button uk-button-success uk-float-right">
            <i class="uk-icon-plus"></i>
            {{ 'Start new check'|trans }}
        </a>
    </h1>

    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Datum</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for checkInstance in checkInstances %}
            <tr>
                <td>{{ checkInstance.title }}</td>
                <td>{{ checkInstance.date|date('Y-m-d H:i:s') }}</td>
                <td class="uk-text-right">
                    <a href="{{ path('checkinstance_show', { 'id': checkInstance.id }) }}" class="uk-button uk-button-primary">
                        <i class="uk-icon-eye"></i>
                    </a>
                    <a href="{{ path('checkinstance_edit', { 'id': checkInstance.id }) }}" class="uk-button uk-button-primary">
                        <i class="uk-icon-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
