{% extends 'layout.html.twig' %}

{% block content %}
    <h1>
        Durchgeführte Checks
        <a href="{{ path('check') }}" class="uk-button uk-button-success uk-float-right">
            <i class="uk-icon-plus"></i>
            {{ 'Start new check'|trans }}
        </a>
    </h1>

    <table class="uk-table">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Checkliste</th>
                <th>Ersteller</th>
                <th>Domain</th>
                <th>Kunde</th>
                <th>zuständiger Mitarbeiter</th>
                <th>Datum</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for checkInstance in checkInstances %}
            <tr>
                <td>{{ checkInstance.title }}</td>
                <td>{{ checkInstance.checklist.name }}</td>
                <td>{{ checkInstance.user.username }}</td>
                <td>
                    {% if checkInstance.domain %}
                        <a href="{{ checkInstance.domain }}" target="_blank">{{ checkInstance.domain }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ checkInstance.customer|default('-') }}</td>
                <td>{{ checkInstance.assignedUser.username|default('-') }}</td>
                <td>{{ checkInstance.date|date('d.m.Y H:i') }} Uhr</td>
                <td class="uk-text-right">
                    <a href="{{ path('checkinstance_show', { 'id': checkInstance.id }) }}" class="uk-button uk-button-primary">
                        <i class="uk-icon-eye"></i>
                    </a>
                    <a href="{{ path('checkinstance_edit', { 'id': checkInstance.id }) }}" class="uk-button uk-button-primary">
                        <i class="uk-icon-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
