{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="uk-clearfix">
        Durchgeführte Checks
        <a href="{{ path('check') }}" class="uk-button uk-button-success uk-float-right">
            <i class="uk-icon-plus"></i>
            {{ 'Start new check'|trans }}
        </a>
    </h1>

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Checkliste</th>
                    <th>Domain</th>
                    <th>Kunde</th>
                    <th>Ersteller</th>
                    <th>ersteller am</th>
                    <th>zuständig</th>
                    <th>Deadline</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for checkInstance in checkInstances %}
                <tr>
                    <td class="uk-padding-remove" colspan="9">
                        <div class="uk-progress uk-progress-mini uk-margin-remove{% if (checkInstance|checkProgress == 100) %} uk-progress-success{% endif %}">
                            <div class="uk-progress-bar" style="width: {{ checkInstance|checkProgress }}%;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ checkInstance.title }}</td>
                    <td>{{ checkInstance.checklist.name }}</td>
                    <td>
                        {% if checkInstance.domain %}
                            <a href="{{ checkInstance.domain }}" target="_blank">{{ checkInstance.domain }}</a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ checkInstance.customer|default('-') }}</td>
                    <td>{{ checkInstance.user.username }}</td>
                    <td>
                        {{ checkInstance.date|date('d.m.Y') }}<br>
                        {{ checkInstance.date|date('H:i') }} Uhr
                    </td>
                    <td>{{ checkInstance.assignedUser.username|default('-') }}</td>
                    <td>
                        {% if checkInstance.deadline %}
                            {{ checkInstance.deadline|date('d.m.Y') }}<br>
                            {{ checkInstance.deadline|date('H:i') }} Uhr
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="uk-text-right">
                        <a href="{{ path('checkinstance_show', { 'id': checkInstance.id }) }}" class="uk-button uk-button-primary">
                            <i class="uk-icon-eye"></i>
                        </a>
                        <a href="{{ path('checkinstance_edit', { 'id': checkInstance.id }) }}" class="uk-button uk-button-primary">
                            <i class="uk-icon-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
