{% extends 'layout.html.twig' %}

{% block content %}
    <div class="uk-clearfix hidden-print">
        <a href="javascript:window.print();" class="uk-button uk-button-primary">
            <i class="uk-icon-print"></i> Drucken
        </a>
        <a href="{{ path('checkinstance_index') }}" class="uk-button uk-button-primary uk-float-right no-smoothState">
            <i class="uk-icon-history"></i> Liste
        </a>
    </div>

    <h1 class="uk-text-center visible-print">
        Checkliste
    </h1>

    <h1 class="uk-clearfix" style="padding-bottom: 20px;">
        {{ checkInstance.title }}
        <small class="uk-text-muted uk-float-right">{{ checkInstance.checklist.name }}</small>
    </h1>

    <div class="uk-text-muted copy-link-input hidden-print">
        <i class="uk-icon-external-link"></i>
        <input type="text" value="{{ url('check_task', {'checkInstance': checkInstance.id}) }}" onclick="this.select();"/>
    </div>

    <div class="uk-grid uk-margin-bottom">
        <div class="uk-width-medium-1-2">
            <b>Ersteller:</b> {{ checkInstance.user.username }}<br>
            <b>zuständiger Mitarbeiter:</b> {{ checkInstance.assignedUser.username|default('-') }}<br>
            <b>Datum:</b> {{ checkInstance.date|date('d.m.Y H:i') }} Uhr<br>
        </div>
        <div class="uk-width-medium-1-2">
            <b>Kunde:</b> {{ checkInstance.customer|default('-') }}<br>
            <b>Domain:</b> {% if checkInstance.domain %}<a href="{{ checkInstance.domain }}" target="_blank">{{ checkInstance.domain }}</a>{% else %}-{% endif %}<br>
            <b>Info:</b> {{ checkInstance.info|default('-') }}
        </div>
    </div>

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th></th>
                <th>Aufgabe</th>
                <th>Beschreibung</th>
                <th style="width: 50px;">Wann</th>
                <th>Von</th>
                <th class="hidden-print"></th>
            </tr>
            </thead>
            <tbody>
            {% for task in checkInstance.checklist.tasks %}
                <tr>
                    <td><i class="uk-text-success uk-icon-large uk-icon-{{ task|isChecked(checkInstance) ? 'check-' : '' }}square-o"></i></td>
                    <td>
                        {{ task.name }}
                        {% if task.taskCategory %}
                            <br><small class="uk-text-muted">{{ task.taskCategory.name }}</small>
                        {% endif %}
                    </td>
                    <td><i>{{ task.description }}</i></td>
                    <td>{{ task|checkedDate(checkInstance) }}</td>
                    <td>{{ task|checkedBy(checkInstance) }}</td>
                    <td class="uk-text-right hidden-print">
                        <a href="{{ path('check_task', {'checkInstance': checkInstance.id, 'task': task.id}) }}" class="uk-button uk-button-primary">
                            <i class="uk-icon-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/smoothstate/jquery.smoothState.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/transitions.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $(document).on('click', '.check-task', function (e) {
                e.preventDefault();
                var btn = $(this);
                $.get(btn.attr('href'), function (check) {
                    check = $.parseJSON(check);
                    if (check.checked) {
                        btn.find('i').removeClass('uk-icon-square-o').addClass('uk-icon-check-square-o');
                    } else {
                        btn.find('i').removeClass('uk-icon-check-square-o').addClass('uk-icon-square-o');
                    }

                    var meta = $('#check-meta');
                    meta.removeClass('uk-hidden');
                    meta.find('.date').text(check.date);
                    meta.find('.user').text(check.user);
                });
            });
        });
    </script>
{% endblock %}