{% extends "::layoutLogin.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <h1 class="uk-margin-large-top">
        <i class="uk-icon-check uk-icon-large"></i>
    </h1>

    <form class="uk-panel uk-panel-box uk-form" action="{{ path("fos_user_security_check") }}" method="post">
        {% if error %}
            <div class="uk-alert uk-alert-danger uk-margin-bottom">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="uk-form-row">
            <input class="uk-width-1-1 uk-form-large" placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>

        <div class="uk-form-row">
            <input class="uk-width-1-1 uk-form-large" placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" />
        </div>

        <div class="uk-form-row">
            <input type="submit" id="_submit" name="_submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large" value="{{ 'security.login.submit'|trans }}" style="color: #fff;" />
        </div>

        <div class="uk-form-row uk-text-small">
            <label class="uk-float-left" for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}</label>
            <a class="uk-float-right uk-link uk-link-muted" href="{{ path('fos_user_resetting_request') }}">Passwort vergessen?</a>
        </div>
    </form>
{% endblock %}
