{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="uk-clearfix">
        Aufgabe bearbeiten
        {% if checklist %}
            <small class="uk-text-muted">{{ checklist.name }}</small>
            <a href="{{ path('checklist_show', {'id': checklist.id}) }}" class="uk-button uk-button-primary uk-float-right">
                <i class="uk-icon-list"></i> zurück zur Checkliste
            </a>
        {% else %}
            <a href="{{ path('task_index') }}" class="uk-button uk-button-primary uk-float-right">
                <i class="uk-icon-check-square-o"></i> Liste
            </a>
        {% endif %}
    </h1>

    {% for message in app.session.flashBag.get('success') %}
        <div class="uk-alert uk-alert-success" data-uk-alert>
            <a href="" class="uk-alert-close uk-close"></a>
            {{ message }}
        </div>
    {% endfor %}

    {{ form(edit_form) }}
{% endblock %}
